<div class="container-fluid">
    <div class="row par">
        <div class="col-6 col-12 col-md-7 col-lg-6 a">{{X}}{{liga}}
        </div>
        <div class="col-6 col-12 col-md-7 col-lg-6 b">{{tomar}}{{coloritos}}{{liga}}

        </div>
    </div>
    <div class="row par">
        <div class="col-6 col-12 col-md-7 col-lg-6 c">{{I}}{{mejor}}{{letritas}}{{liga}}
            
        </div>
        <div class="col-6 col-12 col-md-7 col-lg-6 d"></div>
    </div>
    <div class="row col-12 col-md-7 col-lg-6 e">{{nina}} {{liga}} {{ilegal}}
    </div>
</div>
<!--<div id="main ">
  <div class="col row" style="background-color:coral;">1</div>
  <div class="col row" style="background-color:lightblue;">2</div>
</div> -->